/baidunetdisk/
/balena-etcher/
/calibre/
/cef_user_data/
/chromium/
/Code/
/Cursor/
/GIMP/
/GPy/
/JetBrains/
/Kitware/
/LM Studio/
/Pandora-ChatGPT/
/QtProject.conf
/configstore/
/dconf/
/dvc/
/emacs/
/enchant/
/evolution/
/fcitx5/
/gedit/
/gnome-initial-setup-done
/gnote/
/google-chrome/
/ibus-anthy-gnome-initial-setup-done
/ibus-mozc-gnome-initial-setup-done
/inkscape/
/iterative/
/joplin-desktop/
/kactivitymanagerdrc
/kconf_updaterc
/kdeconnect/
/kdeglobals
/kglobalshortcutsrc
/libreoffice/
/microsoft-edge/
/mozc/
/nvim/
/obsidian/
/.gsd-keyboard.settings-ported
/pulse/
/scapy/
/session/
/sublime-merge/
/sublime-text/
/syncthing/
/tad/
/totem/
/transmission/
/doom (copy)/
/Code - Insiders/
/Thunar/
/vscode-sqltools/
/gcloud/
/github-copilot/
/Mousepad/
/TabNine/
/autostart/remmina-applet.desktop
/cinnamon-monitors.xml~
/cinnamon/
/ibus/bus/98d6aa63674b4a59ba1dc5bcbf5d87af-unix-0
/monitors-v1-backup.xml
/nautilus/
/partitionmanagerrc
/remmina/
/VirtualBox/
/xfburn/
mimeapps.list
/nemo/
/nemo/
/htop/
/mimeapps.list
/Joplin/
