/baidunetdisk/
/balena-etcher/
/calibre/
/cef_user_data/
/chromium/
/Code/
/Cursor/
/GIMP/
/GPy/
/JetBrains/
/Kitware/
/LM Studio/
/Pandora-ChatGPT/
/QtProject.conf
/configstore/
/dconf/
/dvc/
/emacs/
/enchant/
/evolution/
/fcitx5/
/gedit/
/gnome-initial-setup-done
/gnote/
/google-chrome/
/ibus-anthy-gnome-initial-setup-done
/ibus-mozc-gnome-initial-setup-done
/inkscape/
/iterative/
/joplin-desktop/
/kactivitymanagerdrc
/kconf_updaterc
/kdeconnect/
/kdeglobals
/kglobalshortcutsrc
/libreoffice/
/microsoft-edge/
/mozc/
/nvim/
/obsidian/
/.gsd-keyboard.settings-ported
/pulse/
/scapy/
/session/
/sublime-merge/
/sublime-text/
/syncthing/
/tad/
/totem/
/transmission/
/doom (copy)/
