[user]
	name = binjian xin
	email = binjian.xin@newrizon.com
[http]
	proxy = http://127.0.0.1:20171
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
	default = simple
[branch]
	autoSetupMerge = simple
[credential]
	useHttpPath = true
[https]
	proxy = http://127.0.0.1:20171
