[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/n/Desktop/PycharmEAP.desktop]
row=5
col=0

[/home/n/Desktop/pycharm.desktop]
row=6
col=0

[/home/n/Desktop/chrome-kmcnjdcipmgchfndpapkoecbidofdpbc-Default.desktop]
row=4
col=0

[/home/n/Desktop/cursor.desktop]
row=2
col=0

[/home/n/Desktop/dataspell.desktop]
row=3
col=0

[Trash]
row=0
col=0

[/home/n]
row=1
col=0

